apiVersion: batch/v1
kind: Job
metadata:
  name: fetch-top1kratingmovie 
spec:
  template:
    metadata:
      name: fetch-top1kratingmovie
    spec:
      volumes:
      - name: shared-data
        emptyDir: {}
      initContainers:
      - image : init-downloader
        name: init-downloader
        env:
        - name: DATA_FOLDER
          value: /data
        volumeMounts:
        - name: shared-data
          mountPath: /data
      containers:
      - image:  top1k-rating-movie
        name: top1k-rating-movie
        env: 
        - name: DATA_FOLDER
          value: /data
        - name: DB_HOST
          value: postgres
        - name: DB_ACCOUNT
          value: postgres
        - name: DB_PASSWORD
          value: appseed
        - name: DB_SCHEMA
          value: postgres
        - name: DB_TABLE
          value: top1kmovies
        volumeMounts:
        - name: shared-data
          mountPath: /data
        resources: {}
      restartPolicy: OnFailure
status: {}
